<%# 全体 %>
  <div class="wrapper">

<%# 左側 %>
    <div class="side-menu">
      <div class="side-header">
        <div class="side-box">
          <p class="app-name">SUPPORT CUBE</p>
        </div>
      </div>
      <div class="side-bar">
          <div class="menu-box">
            <p class="category-name">新規登録</p>
            <p class="category-name">マイページ</p>
            <p class="category-name">会議用</p>
            <p class="category-name">カレンダー</p>
            <p class="category-name">分析</p>
          </div>
      </div>
    </div>


<%# 右側 %>
    <div class="main">
      <div class="main-header">
        <div class="header-leftbox">
          <h2 class="current-group">職員ID : 00007777</h2>
          <ul class="member"> 担当者 : 鈴木</ul>
        </div>
        <a href="" class="logout-btn">ログアウト</a>
      </div>
      <div class="messages"></div>
    </div>

  </div>
