<%# 全体 %>
  <div class="wrapper">

<%# 左側 %>
    <div class="side-menu">
      <div class="side-header">
        <div class="side-box">
          <p class="app-name">SUPPORT CUBE</p>
        </div>
      </div>
      <div class="side-bar">
          <div class="menu-box">
            <p class="category-name">案件登録</p>
            <p class="category-name">マイページ</p>
            <p class="category-name">会議用</p>
            <p class="category-name">カレンダー</p>
            <p class="category-name">分析</p>
          </div>
      </div>
    </div>


<%# 右側 %>
    <div class="main">
      <div class="main-header">
        <div class="header-leftbox">
          <h2 class="current-group">職員ID : &nbsp;00007777</h2>
          <ul class="member"> 担当者 : &nbsp; 
          <%= link_to current_staff.staff_name, edit_staff_path(current_staff) %>
          </ul>
        </div>
        <a href="" class="logout-btn">ログアウト</a>
      </div>

      <div class="main-content">
        <section class="before-judge">
            <h2>判定前</h2>
            <hr class="divider"> <!-- 横線を追加 -->
            <p>ここに判定前の状態やデータを記載します。</p>
        <table>
            <thead>
                <tr>
                    <th>状況</th>
                    <th>患者名</th>
                    <th>年齢</th>
                    <th>性別</th>
                    <th>入院歴</th>
                    <th>紹介元</th>
                    <th>希望時期</th>
                    <th>目的</th>
                    <th>担当</th>
                    <th>詳細</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>判定待ち</td>
                    <td>田中太郎</td>
                    <td>75</td>
                    <td>男性</td>
                    <td>あり</td>
                    <td>クリニックA</td>
                    <td>即時</td>
                    <td>検査</td>
                    <td>佐藤</td>
                    <td>ボタン</td>
                </tr>
                <tr>
                    <td>聴取中</td>
                    <td>鈴木花子</td>
                    <td>64</td>
                    <td>女性</td>
                    <td>なし</td>
                    <td>クリニックB</td>
                    <td>来月</td>
                    <td>リハビリ</td>
                    <td>山田</td>
                    <td>ボタン</td>
                </tr>
                <tr>
                    <td>判定待ち</td>
                    <td>佐藤健</td>
                    <td>95</td>
                    <td>男性</td>
                    <td>あり</td>
                    <td>病院C</td>
                    <td>今月末</td>
                    <td>予防接種</td>
                    <td>伊藤</td>
                    <td>ボタン</td>
                </tr>
                <tr>
                    <td>回答待ち</td>
                    <td>佐藤美幸</td>
                    <td>85</td>
                    <td>女性</td>
                    <td>あり</td>
                    <td>病院C</td>
                    <td>今月末</td>
                    <td>レスパイト</td>
                    <td>伊藤</td>
                    <td>ボタン</td>
                </tr>
                
            </tbody>
          </table>
          </section>
          <section class="after-judge">
              <h2>判定後</h2>
              <hr class="divider"> <!-- 横線を追加 -->
              <p>ここに判定後の状態やデータを記載します。</p>
          <table>
        <thead>
            <tr>
                <th>ベッド準備</th>
                <th>決定日時</th>
                <th>患者名</th>
                <th>年齢</th>
                <th>性別</th>
                <th>紹介元</th>
                <th>希望時期</th>
                <th>目的</th>
                <th>担当</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>完了</td>
                <td>今月末</td>
                <td>田中太郎</td>
                <td>75</td>
                <td>男性</td>
                <td>クリニックA</td>
                <td>即時</td>
                <td>検査</td>
                <td>佐藤</td>
                <td>ボタン</td>
            </tr>
            <tr>
                <td>完了</td>
                <td>来月</td>
                <td>元木花子</td>
                <td>104</td>
                <td>女性</td>
                <td>クリニックB</td>
                <td>来月</td>
                <td>リハビリ</td>
                <td>山田</td>
                <td>ボタン</td>
            </tr>
            <tr>
                <td>未定</td>
                <td>今月末</td>
                <td>上村健</td>
                <td>95</td>
                <td>男性</td>
                <td>病院C</td>
                <td>今月末</td>
                <td>予防接種</td>
                <td>伊藤</td>
                <td>ボタン</td>
            </tr>
            <tr>
                <td>調整中</td>
                <td>今月末</td>
                <td>木村美幸</td>
                <td>86</td>
                <td>女性</td>
                <td>病院C</td>
                <td>今月末</td>
                <td>レスパイト</td>
                <td>伊藤</td>
                <td>ボタン</td>
            </tr>
        </tbody>
      </table>
      </section>
      </div>
    </div>

  </div>
